# Deep Learning & CV Frameworks
torch
torchvision
torchaudio
opencv-python
pillow
albumentations
open_clip_torch

# Data Science & Analytics
numpy
pandas
scikit-learn
matplotlib
seaborn
datasets
kagglehub

# MLOps, Logging & Utilities
mlflow
wandb
tqdm
pyyaml

# API & Web Interface (для следующих этапов)
fastapi
uvicorn
python-multipart
requests
streamlit
joblib>=1.3.0
scipy>=1.10.0
