albumentations==2.0.8
datasets==5.0.1
diffusers==0.39.0
fastapi==0.141.1
joblib==1.5.3
numpy==2.5.2
opencv_python_headless==5.0.0.93
Pillow==12.3.0
python-dotenv==1.2.2
Requests==2.34.2
scikit_learn==1.9.0
scipy==1.18.0
tqdm==4.70.0
